<h1 class="text-2xl font-semibold text-gray-900 dark:text-gray-700">Treatments</h1>
<p class="mt-2 text-sm text-gray-600 dark:text-gray-400">Here are the treatments you have received.</p>

<div>
  <% if @treatments.empty? %>
    <p class="mt-4 text-gray-500 dark:text-gray-400">You have no treatments.</p>
  <% else %>
  <% @treatments.each do |treatment| %>
    <div class="p-4 border-2 border-fuchsia-200 border-dashed rounded-lg dark:border-fuchsia-700 mt-4">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Prescription: <%= treatment.prescription %></h2>
      <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">Diagnosis: <%= treatment.diagnosis %></p>
      <% if treatment.payment.nil? %>
        <p class="mt-2 text-sm text-red-600 dark:text-red-400">Payment: Not Paid</p>
        <%= button_to 'Make Payment', new_treatment_payment_path(treatment), method: :get, class: 'mt-4 bg-fuchsia-500 hover:bg-fuchsia-700 text-white font-bold py-2 px-4 rounded-full' %>
      <% else %>
        <div class="flex justify-between items-center">
          <p class="my-4 text-sm text-green-600 dark:text-green-400">Payment: Paid</p>

          <a href="<%= export_treatment_pdf_path(treatment) %>" class="text-right bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">Export
            Treatments as PDF</a>
        </div>
      <% end %>
    </div>
  <% end %>
  <% end %>
</div>
